/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:9%;
	font:inherit;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration: none;
transition: 0.5s ease;
-o-transition: 0.5s ease;
-webkit-transition: 0.5s ease;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html {
	height: 100%;
}
body {
	font-family: "微软雅黑", Arial, sans-serif;
	height: 100%;
}
img {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.header{
	background:#313232;
	border-bottom: 5px solid #D63B37;
}
.wrap{
	width:80%;
	margin:0 auto;
}
.logo{
	float: left;
	padding: 21px 0px 0px 0px;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
	float:left;
}
.active, .top-nav li> a:hover {
	background: #D63B37;
	color:#FFF;
}
.top-nav ul li a{
	font-size: 0.875em;
	color: #FFF;
	padding: 30px;
	display: block;
	text-transform: uppercase;
}
.manager {
	float: left;
	width: 40%;
	height: 400px;
}
.manager_introduction_block {
	margin-top: 20%;
	margin-right: 0px;
	margin-bottom: 20%;
	margin-left: 0px;

}
#camera_wrap_1 {
	float: left;
	width: 60%;
}
.second_block {
	margin-top: 50px;
}
.manager_image {
	height: 200px;
	width: 40%;
	float: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
}
.content {
	background-color: #EEE;
	margin-top: 50px;
}
.contact_content {
	background-color: #EEE;
}


.mid-grid {



}
.search {
	float: left;
	width: 30%;
}
.result {
	width: 70%;
	float: left;
}
.newest_project {
	width: 100%;
}

.copy-right {
	background-color: #313232;
	text-align: center;
	height: 7%;
	width: 100%;
}
.top-to-page {
	float: right;
}
/***** contact *****/
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%;
	float: left;
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%;
	float: left;
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	padding: 15px 0px;
	color: #313232;
	font-size: 1.5em;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.875em;
	color: #454545;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#313232;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border: 1px solid rgba(192, 192, 192, 0.41);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	border:none;
	cursor:pointer;
	color: #D63B37;
	font-size: 0.875em;
	text-transform: uppercase;
	padding: 1em 1.5em;
	border: 1px solid #EEE;
	display: inline-block;
	background:#FFF;
	text-decoration: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact-form input[type="submit"]:hover{
	background: #D63B37;
	color: #FFF;
}
.company_address{
}
.company_address p{
	font-size: 0.875em;
	color: #6a6a6a;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#454545;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
}
.Gmap {
	height: 600px;
	width: 100%;
}
.single_image {
	width: 30%;
	float: left;
	height: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.house_properties {
	float: left;
	width: 65%;
	margin-left: 5%;
}
.wrap .level1 .house_properties tr td {
	text-align: center;
	width: 150px;
	border: thin solid #000;
	height: 40px;
	vertical-align: middle;
}
.level1 {
	height: 200px;
	width: 100%;
}
.level2 {
	margin-top: 20px;
}
.company_map {
	height: 175px;
	width: 100%;
}
.ad_management_properties {
	width: 100%;
	margin-top: 50px;
}

.wrap .ad_management_properties td {
	text-align: center;
	width: 500px;
	border: thin solid #000;
	height: 40px;
	vertical-align: middle;
}
.sub_message {
	height: auto;
	width: 95%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.message_wrap {
	width: 50%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.message_name {
	font-size: xx-large;
	float: left;
	height: 40px;
	width: 50%;
}
.message_contact {
	float: right;
	height: 40px;
}
.message_email {
	width: 100%;
}
.message_time {
	float: right;
}
.email_phone {
	height: 20px;
	width: 100%;
}
.message_span_2 {
	margin-top: 10px;
}
.message_span_1 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.message {
	width: 100%;
	background-color: #EEE;
}
.manager_introduction {
	height: 200px;
	width: 60%;
	float: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: left;
}
.manager_name {
	font-size: x-large;
}
.about_title {
	font-size: xx-large;
}
.language {
	float: right;
}
.message_block {
	height: 50%;
	width: 100%;
	margin-top: 20%;
}
.title {
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 5%;
}
.newest_project {
	text-align: center;
}
.hotest_project {
	text-align: center;
}
.all_project {
	text-align: center;
}
.content .wrap .search .news ul li {
	list-style-type: circle;
}
.picture_specify {
	font-size: 18px;
	font-weight: bolder;
	text-align: left;
	margin-left: 2%;
}
#login {
	text-align: center;
	width: 20%;
}
.login_div {
	text-align: center;
	width: 100%;
	padding-right: 40%;
	padding-left: 40%;
	padding-top: 5%;
}
.tableCss {
	width: 100%;
}
.main {
	min-height:93%;
}
.news_title {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
}
.menu_div ul li {
	display: inline-block;
	float: left;
	width: 16.66%;
	text-align: center;
	background-color: #666;
	height: 50px;
}
.menu_div {
	vertical-align: middle;
	height: 50px;
}
.menu_div ul li a{
	font-size: 18px;
	color: #FFF;
	padding: 13px;
	display: block;
	text-transform: uppercase;
}
.menu_div li> a:hover {
	background: #D63B37;
	color:#FFF;
}
.add {
	text-align: center;
	padding-top: 5%;
	padding-right: 40%;
	padding-left: 40%;
	width: 30%;
}
