<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">
   
   	<!-- 解决表单form数据到服务器的中文乱码问题的过滤器 -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>filter.CharacterFilter</filter-class>
	</filter>
	
	<!-- 权限检查的过滤器 -->
	<filter>
		<filter-name>CheckAuthority</filter-name>
		<filter-class>filter.AuthorityFilter</filter-class>
	</filter>

	<filter>
    	<filter-name>struts2</filter-name>
    	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  	</filter>

	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--start 管理页面权限的过滤-->
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_scroll.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_newest_project.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_hotest_project.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_news.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_downloadFile.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_message.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/manage_subscriber.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckAuthority</filter-name>
		<url-pattern>/changePassword.jsp</url-pattern>
	</filter-mapping>
	<!--end 管理页面权限的过滤-->
  	<filter-mapping>
    <filter-name>struts2</filter-name>
    	<url-pattern>*.action</url-pattern>
  	</filter-mapping>
  	
	<!-- 初始化message数据 -->  
	<listener>  
    	<listener-class>listener.InitListener</listener-class>  
	</listener>
  	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
